@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import '../css/bootstrap.min.css';
:root {
  --secondary:#3A312A;
  --white: #ffffff;
  --gray: #DED7C4;
}

.rounded-7 {
  border-radius: 7px;
}

.section-bottom-divider {
  border-top: 1px solid rgba(58, 49, 42, 0.1019607843);
  opacity: 1;
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(5rem, 1.8269rem + 14.1026vw, 18.75rem);
  font-weight: 600;
  letter-spacing: -15px;
  white-space: nowrap;
  color: var(--secondary);
  line-height: normal;
}

h2 {
  font-size: clamp(2rem, 1.7692rem + 1.0256vw, 3rem);
  font-weight: 600;
  letter-spacing: -1.44px;
  color: var(--secondary);
}

h3 {
  font-size: clamp(1.375rem, 1.3029rem + 0.3205vw, 1.6875rem);
  font-weight: 600;
  letter-spacing: -0.54px;
}

h5 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.72px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  line-height: normal;
}

p {
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.body_line {
  position: relative;
}
.body_line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 14.9%;
  width: 1px;
  height: 100%;
  background-color: var(--gray);
  z-index: -1;
}
@media (max-width: 1200px) {
  .body_line::after {
    display: none;
  }
}
.body_line::before {
  content: "";
  position: absolute;
  top: 0;
  right: 14.9%;
  width: 1px;
  height: 100%;
  background-color: var(--gray);
  z-index: -1;
}
@media (max-width: 1200px) {
  .body_line::before {
    display: none;
  }
}
.body_line_one {
  position: absolute;
  top: 0;
  right: 519px;
  width: 1px;
  height: 100%;
  background-color: var(--gray);
}
@media (max-width: 1200px) {
  .body_line_one {
    display: none;
  }
}

.mt_52 {
  margin-top: 54px;
}

.mt_54 {
  margin-top: 58px;
}

.px_45 {
  padding: 0 45px;
}

.outlline_text {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--gray);
  font-weight: bold;
  color: transparent;
}

.outlline_text_blue {
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: var(--pra);
  font-weight: bold;
  color: transparent;
}

.container-fluid {
  padding: 0 45px;
}
@media (max-width: 768px) {
  .container-fluid {
    padding: 0 15px;
  }
}

.slick-dots {
  left: 13% !important;
  bottom: -19px;
  text-align: start !important;
  max-width: 80%;
}
@media (max-width: 1400px) {
  .slick-dots {
    max-width: 70%;
  }
}
@media (max-width: 1200px) {
  .slick-dots {
    max-width: 60%;
  }
}
.slick-dots li {
  width: auto !important;
  height: 0 !important;
  margin: 0 !important;
}
.slick-dots .common__dots {
  width: 150px;
  height: 1px;
  background-color: var(--dipGray);
}
@media (max-width: 1400px) {
  .slick-dots .common__dots {
    width: 120px;
  }
}
@media (max-width: 1200px) {
  .slick-dots .common__dots {
    width: 100px;
  }
}
.slick-dots .slick-active .common__dots {
  background-color: var(--pra);
  padding: 2px 0;
  margin-top: -2px;
}

.common__nav {
  position: absolute;
  z-index: 100;
  border: none;
  background: transparent;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  width: 50px;
  height: 20px;
}
@media (max-width: 576px) {
  .common__nav {
    width: 40px;
    height: 15px;
  }
}

.prev-arrow {
  left: 81%;
  top: 100%;
  background-image: url("/assets/img/icon/Group 35.svg");
  transform: rotate(180deg);
}
@media (max-width: 1200px) {
  .prev-arrow {
    left: 81%;
  }
}
@media (max-width: 991px) {
  .prev-arrow {
    left: 78%;
  }
}
@media (max-width: 768px) {
  .prev-arrow {
    left: 74%;
  }
}
@media (max-width: 576px) {
  .prev-arrow {
    left: 70%;
  }
}

.next-arrow {
  right: 13%;
  top: 100%;
  background-image: url("/assets/img/icon/Group 35.svg");
}
@media (max-width: 1200px) {
  .next-arrow {
    right: 10%;
  }
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-110 {
  padding-top: 110px;
}

.pb-110 {
  padding-bottom: 110px;
}

.py-110 {
  padding-top: 110px;
  padding-bottom: 110px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.my-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.mt-110 {
  margin-top: 110px;
}

.mb-110 {
  margin-bottom: 110px;
}

.my-110 {
  margin-top: 110px;
  margin-bottom: 110px;
}

.common_btn {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 12px 32px;
  font-size: 17px;
  font-weight: 500;
  background-color: transparent;
  border: 1.6px solid var(--white);
  color: var(--white);
  transition: all 1s;
}
.common_btn img {
  height: 15px;
  object-fit: contain;
  transition: all 1s;
}
.common_btn:hover img {
  transform: translateX(10px);
}

.btn, .btn-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 20px 35px;
  border-radius: 20px;
  max-height: 57px;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 991px) {
  .btn, .btn-lg {
    padding: 13px 30px;
    border-radius: 15px;
  }
}
.btn i, .btn-lg i {
  transform: rotate(-30deg);
  font-size: 14px;
}

.btn-lg {
  padding: 20px 45px;
}
@media (max-width: 991px) {
  .btn-lg {
    padding: 13px 35px;
  }
}

.btn-sm, .btn-xm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 20px;
  max-height: 31px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
}

.btn-xm {
  padding: 7px 13px;
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-outline-secondary {
  border: 1px solid var(--secondary);
}

.section-title {
  text-align: center;
  margin: auto;
}

.body-lines {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
.body-lines .container-fluid {
  padding-left: 70px;
  padding-right: 70px;
}
@media (max-width: 1400px) {
  .body-lines .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.body-lines .line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(58, 49, 42, 0.1019607843);
}
.body-lines .line:nth-child(2) {
  left: 33.33%;
}
.body-lines .line:nth-child(3) {
  right: 33.33%;
}
.body-lines .line:last-child {
  right: 70px;
}

.header {
  background-color: #DED7C4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(58, 49, 42, 0.1);
  padding-left: 70px;
  padding-right: 70px;
}
@media (max-width: 1400px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header .logo span {
  color: var(--secondary);
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -1.05px;
}
.header nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 1400px) {
  .header nav > ul {
    gap: 12px;
  }
}
.header nav > ul li {
  position: relative;
}
.header nav > ul li a {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.018px;
  color: var(--secondary);
  padding: 10px 15px;
  transition: all 0.5s;
}
.header nav > ul li a i {
  font-size: 14px;
}
.header nav > ul li a:hover {
  color: rgba(58, 49, 42, 0.4235294118);
}
@media (min-width: 1200px) {
  .header nav > ul li:hover .dropdown-list {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}
.header nav > ul li .dropdown-list {
  transition: all 0.5s;
  position: absolute;
  min-width: max-content;
  background-color: #DED7C4;
  padding: 15px 0;
  box-shadow: 0px 5px 5px rgba(58, 49, 42, 0.1);
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
}
.header nav > ul li .dropdown-list li a {
  padding: 5px 15px;
  display: inline-block;
  font-weight: 500;
}
.header .menu-show-icon i {
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header nav {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #DED7C4;
    min-height: 100vh;
    width: 50%;
    padding: 30px 15px;
    transition: all 0.5s;
    z-index: 999;
  }
  .header nav.active {
    left: 0;
  }
  .header nav ul {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .header nav ul li .dropdown-list {
    position: relative;
    transform: translateY(0px);
    opacity: 0;
    visibility: hidden;
    box-shadow: none;
    padding: 0;
    max-height: 0;
    transition: all 0.5s;
  }
  .header nav ul li .active {
    opacity: 1;
    visibility: visible;
    max-height: 300px;
  }
}
.hero {
  background: linear-gradient(180deg, #DED7C4 0%, rgba(222, 215, 196, 0) 100%);
  padding-top: 50px;
  position: relative;
}
.hero .left-content {
  position: relative;
  z-index: 10;
  margin-left: 100px;
}
@media (max-width: 1400px) {
  .hero .left-content {
    margin-left: 0px;
  }
}
.hero .left-content h6 {
  font-size: clamp(2.1875rem, 2.0433rem + 0.641vw, 2.8125rem);
  letter-spacing: -1.35px;
  font-weight: 400;
}
.hero .left-content h5 {
  font-size: 70px;
  font-weight: 600;
  font-size: clamp(2.8125rem, 2.3798rem + 1.9231vw, 4.6875rem);
  letter-spacing: -2.1px;
}
.hero .left-content p {
  margin-top: 25px;
  margin-bottom: 45px;
  max-width: 265px;
  line-height: 30px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .hero .left-content p {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
  }
}
.hero .center-img {
  height: 650px;
}
@media (max-width: 991px) {
  .hero .center-img {
    height: auto;
  }
}
.hero .center-img img {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 973px;
  top: 225px;
}
@media (max-width: 991px) {
  .hero .center-img img {
    position: static;
    transform: translateX(0);
  }
}
.hero .right-content {
  position: relative;
  z-index: 10;
  margin-right: -80px;
}
.hero .right-content p {
  max-width: 331px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .hero .right-content p {
    max-width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
  }
}
.hero .right-content ul {
  gap: 10px;
}
@media (max-width: 991px) {
  .hero .right-content ul {
    max-width: 500px;
  }
}
.hero .right-content ul .btn, .hero .right-content ul .btn-lg {
  background-color: var(--white);
  color: var(--secondary);
}

.services .section-title {
  max-width: 699px;
}
.services .service-card {
  border-radius: 7px;
  padding: 40px 60px;
  background-color: #F1F0F0;
  transition: all 0.5s;
  color: var(--secondary);
}
.services .service-card h3 {
  margin-top: 50px;
  margin-bottom: 30px;
}
.services .service-card p {
  line-height: 1.87;
  margin-bottom: 40px;
}
.services .service-card a {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 7px;
}
.services .service-card a i {
  font-size: 14px;
  transform: rotate(-30deg);
}
.services .service-card:hover {
  color: white;
  background-color: var(--secondary);
}
.services hr {
  border-top: 1px solid rgba(58, 49, 42, 0.1019607843);
  opacity: 1;
  margin: 0;
}

.experience .section-title {
  text-align: start;
}
@media (max-width: 1200px) {
  .experience img {
    width: 100%;
  }
}
.experience table {
  min-width: 500px;
  width: 100%;
  border-radius: 7px;
  border: 1px solid rgba(58, 49, 42, 0.1);
  background-color: #F1F0F0;
}
.experience table tbody .active {
  background-color: var(--secondary);
  color: var(--white);
}
.experience table tbody .active .position {
  font-weight: 600;
}
.experience table tbody tr {
  border-bottom: 1px solid rgba(58, 49, 42, 0.1);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.experience table tbody tr .position {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -0.66px;
}
.experience table tbody tr td {
  padding: 25px 0px;
}
.experience table tbody tr td:first-child {
  padding-left: 50px;
}

.projects {
  background: linear-gradient(180deg, rgba(222, 215, 196, 0.3) 0%, rgba(222, 215, 196, 0) 100%);
}
.projects .section-title {
  max-width: 615px;
}
.projects .project-card .img-container {
  overflow: hidden;
  border-radius: 7px;
  display: block;
  transition: all 0.5s;
}
.projects .project-card .img-container:hover img {
  transform: scale(1.1);
}
.projects .project-card .img-container img {
  border-radius: 7px;
  transition: all 0.5s;
  overflow: hidden;
}

.about {
  background-image: url("../../../assets/images/about-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 130px 0;
}
.about .section-title {
  color: var(--white);
  max-width: 668px;
  text-align: start;
  margin: 0;
}
.about .section-desc {
  max-width: 807px;
  color: var(--white);
  line-height: 1.87;
}
.about .card-container {
  background-color: var(--gray);
  max-width: 960px;
}
.about-card {
  padding: 50px 59px;
}
@media (max-width: 991px) {
  .about-card {
    padding: 30px 20px;
  }
}
.about-card h4 {
  letter-spacing: -2.25px;
  font-weight: 600;
  font-size: clamp(2.1875rem, 1.6106rem + 2.5641vw, 4.6875rem);
  color: var(--secondary);
}
.about-card svg {
  margin-top: 40px;
  margin-bottom: 40px;
}

.price-card {
  padding: 40px 50px;
  background-color: var(--white);
  filter: drop-shadow(10px 4px 60px rgba(169, 169, 169, 0.25));
}
.price-card-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.price-card-head h2 {
  display: flex;
  align-items: end;
}
.price-card-head h2 p {
  font-size: 16px;
  font-weight: normal;
}
.price-card-body {
  margin-top: 50px;
}
.price-card-body ul {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.price-card-body ul li {
  display: flex;
  gap: 7px;
  align-items: center;
  font-weight: 500;
  line-height: 30px;
}

.testimonial-card {
  padding: 50px 40px;
  border-radius: 7px;
  background-color: #F1F0F0;
}
.testimonial-card-header strong {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.72px;
}
.testimonial-card .review {
  font-size: 24px;
  font-weight: 500;
  color: var(--secondary);
  letter-spacing: -0.72px;
  line-height: 40px;
  margin-top: 25px;
}
.testimonial-card-footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonial-card-footer ul {
  display: flex;
  align-items: center;
  gap: 5px;
}
.testimonial-card-footer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  color: var(--white);
  font-size: 13px;
  padding: 5px;
  max-height: 26px;
  max-width: 26px;
  width: 100%;
  height: 100%;
}
.testimonial-card-footer p {
  letter-spacing: -0.54px;
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary);
}
.testimonial .arrow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 50px;
  transition: all 0.5s;
}
.testimonial .arrow-btn:hover {
  background-color: var(--secondary);
  color: var(--white);
}

footer {
  background-color: var(--secondary);
  padding-top: 100px;
  color: var(--white);
}
footer h2 {
  color: var(--white);
}/*# sourceMappingURL=style.css.map */