.body-lines {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    .container-fluid {
        padding-left: 70px;
        padding-right: 70px;

        @include breakpoint(xxl) {
            padding-left: 40px;
            padding-right: 40px;
        }
    }


    .line {
        position: absolute;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #3A312A1A;
    }

    .line:nth-child(2) {
        left: 33.33%;
    }
    .line:nth-child(3) {
        right: 33.33%;
    }

    .line:last-child {
        right: 70px;
    }
}