.hero {
    background: linear-gradient(180deg, #DED7C4 0%, rgba(222, 215, 196, 0.00) 100%);
    padding-top: 80px;
    position: relative;

    .left-content {
        h6 {
            font-size: 45px;
            letter-spacing: -1.35px;
            font-weight: 400;
        }

        h5 {
            font-size: 70px;
            font-weight: 600;
            line-height: 75px;
            letter-spacing: -2.1px;
        }

        p {
            margin-top: 50px;
        }
    }

    .center-img {
        // position: relative;

        // position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 973px;
        &-circle {
        //     position: absolute;
        //     left: -250px;
        //     bottom: -80px;
        //     width: 935px;
        //     height: 370px;
        //     transform: rotate(-7deg);
        //     border-radius: 935px;
        //     border: 1px solid #3A312A;
        //     background: #DED7C4;
        //     z-index: -1;
        }
    }

    .right-content {}
}